.admin-orders-table-container {
  padding: 15px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
}

.orders-table th,
.orders-table td {
  border: 1px solid #ccc;
  padding: 8px;
  font-size:23px;
}

.orders-table th {
  background-color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product-item {
  display: flex;
  gap: 5px;
  align-items: center;
}

select {
  padding: 8px;
  background-color: cornsilk;
}
.admin-orders-table-container h2{
  color:red;
  background-color: rgb(44, 65, 82);
  font-size: 40px;
  font-family: fantasy;
}
