
.products{
  width: 90%;
  margin: auto;
  padding-top: 40px;
}

.card{
  text-align: center;
}

.card img{
  width: 200px;
  height: 200px;
  margin: auto;
}

.card p{
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}
